.place-order{
    display: flex;
    align-items: start  ;
    justify-content: space-between;
    padding-bottom: 80px;
    gap: 50px;
    margin-top:80px;
}
.placeorder-left{
    width: 100%;
    max-width:max(30%,500px);

}
.placeorder-left input{
    margin-bottom: 15px;
    width: 100%;
    padding: 10px;
    border: 1px solid grey;
    outline-color: tomato;
}
.multi-fields{
    display: flex;
    gap: 10px;
}
.placeorder-right{
    width: 100%;
    max-width: max(40%);
}