.cart{
    margin-top: 100px;
    padding-bottom: 100px;
}
.cart-items-title,.cart-items-details{
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    margin-bottom: 10px;
    color: grey;
}
.cart-items-details{
    margin:10px 0px;
    color: black;
}
.cart-items-details img{
    width: 100px;
}
.cart-items-details hr{
    height: 2px;
}
.remove{
    cursor: pointer;
}
.cart-bottom{
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
    gap: max(12vw , 20px);
}
.bill-cart{
    flex:1;
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.subtotal-total{
    display: flex;
    justify-content: space-between;
    color: rgb(80, 77, 77);
    
}
.bill-cart hr{
    margin: 10px 0px;
}
.bill-cart button {
    border: none;
    background-color: tomato;
    color: white;
    width: max(12vw,20px);
    padding: 10px;
    font-size: 15px;
    cursor: pointer;
    border-radius: 4px;
}
.promo-code{
    flex:1;
}
.promo-code p{
    color: grey;
    font-weight: 300;
    font-size: 20px;
}
.code{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
    background-color: bisque;
    height: 30px;
}
.code input{
    background:transparent;
    border: none;
    padding-left:  10px;
    height: 30px;
    
}
.code button{
    width: max(10vw , 50px);
    height: 30px;
    border: none;
    background-color: black;
    color:white;
    border-radius: 4px;
}
