.sidebar{
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 100vh;
    border: 1.5px solid grey;
}
.sidebar-options{
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    padding-top: 50px;
    gap: 50px;
}
.sidebar-option{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid grey;
    border-right: 0px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}
.sidebar-option:active{
    background-color: rgb(102, 59, 59);   
    border-color: tomato;
}    