.footer{
    color: antiquewhite;
    background-color: #36454F ;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 60px 8vw;
    padding-top:60px;   
    margin-top:15px;    
    
    
}
.footer-content{
    width: 100%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 50px;
}
.center-footer ,.left-footer ,.right-footer{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.text{
    font-weight: 500;
    font-size: 20px;
}
.center-footer li ,.left-footer li,.right-footer li{
  list-style: none;
  font-size: 20px;
}
.footer-logos{
    display: flex;
    align-items: center;
    gap: 10px;
}
.email{
    font-size: 20px;
}
.contact{
    font-size: 20px;
}

.footer-copyright{
    font-weight: 300;
    font-size: 20px;
}
.footer hr{
    width: 100%;
    height: 2px;
}

