.download{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;  
    margin-bottom: 50px; 
}
.logo{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    cursor: pointer;

}
