.header{
    height: 34vw;
    margin: 30px auto;
    background : url("../../assets/header_img.png") no-repeat;
    background-size: contain ;
    position:relative;
}
.header-contents{
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation:fadeIn 3s;

}
.header-contents h1{
    font-weight:300;
    color: white;
    font-size: 4.4vw;
}
.header-contents p{
    color: white;
    font-size: 1vw;
}
.header-contents button{
    background-color: white;
    color: grey;
    padding: 10px 20px;
    font-size: 15px;
    border: none ;
    border-radius: 20px;
    cursor: pointer;
}