.list-form-flex-colmn{
    display: flex;
    flex-direction: column;
    gap: 20px;  
    margin-top: 20px;
    margin-bottom: 50px;
    margin-left: 50px;
    width: 70%;
}
.list-form-flex-colmn h2{
    margin-left: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    color:grey;
}


.list-row{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 3fr 1fr;
    align-items: center;
   
    padding: 20px 10px;
    margin-left: 50px;
    border: 2px solid grey;
    color: grey;
    font-size: 15px;
    border-radius: 10px;
}
.list-row title{
    font-weight: bold;
    font-size: 18px;
    background-color:pink;
}

.list-row img{
    width: 120px;
    height: 120px;
    object-fit: cover;
}
.list-row button{
    padding: 10px 15px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.list-row:hover {
    background-color: #f5f5f5;
}

.list-row button:hover {
    background-color: darkred;
}

